asgiref==3.12.1
dj-database-url==2.1.0
Django==4.2.30
django-environ==0.11.2
djangorestframework==3.17.2
gunicorn==21.2.0
packaging==26.3
psycopg2-binary==2.9.9
sqlparse==0.6.0
typing_extensions==4.16.0
whitenoise==6.12.0
